# Exemplo de variáveis de ambiente para o backend CompactPay
DATABASE_URL=postgresql://user:pass@localhost:5432/compactpay
MQTT_BROKER_URL=52.14.249.201
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
ADMIN_EMAIL=admin@compactpay.com.br
ADMIN_PASSWORD=123456
